In [12]:
import pandas as pd
import numpy as np
import sqlite3

conn = sqlite3.connect('./oh_plot_tree_data/plot_tree2.db')

#import libraries and create connection to database

In [13]:
hocking = pd.read_sql_query("SELECT * FROM Hocking", conn)

In [14]:
hocking.head()

,index,plot_sequence_number,plot_state_code,plot_county_code,measurement_year,latitude,longitude,tree_sequence_number,species_code,current_diameter,total_height
0,0,19132805010661,39,73,1991,39.388962,-82.638779,1.913281e+13,802.0,31.799999,NaN
1,1,19131079010661,39,73,1991,39.416729,-82.638779,1.913108e+13,621.0,10.300000,NaN
2,2,19131243010661,39,73,1991,39.527851,-82.360992,1.913125e+13,314.0,8.100000,NaN
3,3,19132689010661,39,73,1991,39.361179,-82.583221,1.913269e+13,491.0,1.200000,NaN
4,4,19133212010661,39,73,1991,39.527851,-82.249870,1.913325e+13,621.0,2.300000,NaN

In [15]:
hocking.groupby('species_code').count()

,index,plot_sequence_number,plot_state_code,plot_county_code,measurement_year,latitude,longitude,tree_sequence_number,current_diameter,total_height
species_code,,,,,,,,,,
97.0,3,3,3,3,3,3,3,3,3,3
126.0,62,62,62,62,62,62,62,62,59,6
129.0,94,94,94,94,94,94,94,94,92,55
130.0,35,35,35,35,35,35,35,35,33,14
132.0,109,109,109,109,109,109,109,109,95,45
261.0,67,67,67,67,67,67,67,67,63,57
314.0,4,4,4,4,4,4,4,4,4,0
316.0,766,766,766,766,766,766,766,766,726,477
318.0,375,375,375,375,375,375,375,375,352,214
331.0,1,1,1,1,1,1,1,1,1,0
332.0,23,23,23,23,23,23,23,23,23,21
341.0,27,27,27,27,27,27,27,27,25,19
356.0,16,16,16,16,16,16,16,16,11,1
367.0,17,17,17,17,17,17,17,17,15,3
372.0,65,65,65,65,65,65,65,65,55,24
373.0,49,49,49,49,49,49,49,49,43,30
391.0,108,108,108,108,108,108,108,108,96,16
400.0,62,62,62,62,62,62,62,62,62,0
402.0,26,26,26,26,26,26,26,26,24,21
403.0,91,91,91,91,91,91,91,91,80,76
407.0,52,52,52,52,52,52,52,52,51,49
409.0,50,50,50,50,50,50,50,50,48,42
462.0,5,5,5,5,5,5,5,5,5,0
471.0,20,20,20,20,20,20,20,20,19,6
491.0,204,204,204,204,204,204,204,204,194,30
500.0,22,22,22,22,22,22,22,22,19,4
521.0,7,7,7,7,7,7,7,7,5,2
531.0,246,246,246,246,246,246,246,246,228,150
541.0,103,103,103,103,103,103,103,103,96,59
543.0,1,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...
621.0,525,525,525,525,525,525,525,525,505,276
660.0,1,1,1,1,1,1,1,1,1,0
663.0,2,2,2,2,2,2,2,2,1,0
682.0,3,3,3,3,3,3,3,3,3,2
693.0,90,90,90,90,90,90,90,90,84,37
701.0,35,35,35,35,35,35,35,35,31,12
711.0,165,165,165,165,165,165,165,165,149,84
731.0,76,76,76,76,76,76,76,76,72,37
742.0,12,12,12,12,12,12,12,12,12,7
743.0,204,204,204,204,204,204,204,204,167,95
746.0,10,10,10,10,10,10,10,10,10,0
760.0,2,2,2,2,2,2,2,2,2,0
762.0,221,221,221,221,221,221,221,221,202,143
763.0,2,2,2,2,2,2,2,2,1,1
802.0,274,274,274,274,274,274,274,274,265,144
806.0,55,55,55,55,55,55,55,55,54,43
817.0,12,12,12,12,12,12,12,12,10,7
830.0,1,1,1,1,1,1,1,1,1,0
832.0,234,234,234,234,234,234,234,234,224,163
833.0,199,199,199,199,199,199,199,199,191,111
837.0,121,121,121,121,121,121,121,121,114,58
901.0,27,27,27,27,27,27,27,27,26,14
922.0,6,6,6,6,6,6,6,6,6,0
931.0,197,197,197,197,197,197,197,197,176,69
950.0,1,1,1,1,1,1,1,1,1,0
951.0,7,7,7,7,7,7,7,7,7,3
970.0,10,10,10,10,10,10,10,10,10,0
972.0,225,225,225,225,225,225,225,225,209,99
975.0,91,91,91,91,91,91,91,91,84,49
999.0,1,1,1,1,1,1,1,1,1,0

In [21]:
def get_avg(df):
    
#This function goes through dataframe and averages 
#over the diameters and heights of 
#all the trees of each species for each year 
#The name of the species can be found in appendix F of the pdf file in the main folder

    measurement_year = df['measurement_year']
    species_code = hocking['species_code']
    avg_dia = pd.DataFrame()
    avg_hei = pd.DataFrame()
    years = measurement_year.sort_values().unique()
    species = species_code.dropna().sort_values().unique()
    avg_dia['species_code'] = species
    avg_hei['species_code'] = species
    
    for i in years:
        temp_avg_array_dia = np.empty(len(species))
        temp_avg_array_hei = np.empty(len(species))
        for j in species:
            temp_dia = df.loc[(df.species_code == j) & (df.measurement_year ==i)].mean().current_diameter
            temp_avg_array_dia[np.where(species == j)] = temp_dia
            temp_hei = df.loc[(df.species_code == j) & (df.measurement_year ==i)].mean().total_height
            temp_avg_array_hei[np.where(species == j)] = temp_hei
        avg_dia[i] = temp_avg_array_dia
        avg_hei[i] = temp_avg_array_hei
    
    return avg_dia, avg_hei

In [22]:
avg_dia, avg_hei = get_avg(hocking)

In [23]:
avg_dia.head()

,species_code,1990,1991,2001,2002,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,97.0,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,...,6.800000,NaN,NaN,NaN,NaN,7.300000,NaN,NaN,NaN,NaN
1,126.0,NaN,7.983019,10.333333,NaN,14.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.800000,NaN,NaN,NaN,NaN,NaN
2,129.0,NaN,11.546875,NaN,NaN,12.356250,NaN,9.20,NaN,NaN,...,NaN,NaN,10.4250,NaN,13.864286,NaN,NaN,9.042857,NaN,NaN
3,130.0,NaN,5.840000,NaN,NaN,10.042857,NaN,NaN,NaN,NaN,...,9.983333,NaN,NaN,NaN,NaN,10.760000,NaN,NaN,NaN,NaN
4,132.0,NaN,9.168889,11.180000,9.78,NaN,16.700001,10.25,NaN,10.36,...,13.400000,NaN,12.4375,10.966667,14.300000,17.799999,13.9,12.000000,14.0,NaN